{% macro render_field(field) %}
<div class="control-group">
  <label for="{{ field.name }}" class="control-label">	
    {{ field.name|capitalize }}
  </label>
  <div class="input controls">
    {{ field(class="form-control", **kwargs)|safe }}
  </div>
</div>
{% endmacro %}

{% macro render_errors(form) %}
{% if form.errors %}
<div class="alert alert-danger">
  <ul class="errors">
    {% for field in form %}
      {% for error in field.errors %}
      <li><i>{{ field.name|capitalize }}</i>: {{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endmacro %}
