{% extends "base.html" %}

{% block title %}{{ super() }} - Delete Object{% endblock %}
{% block body %}
<h1>Confirmation</h1>
<p>Are you sure you want to delete {{ obj.__class__.__name__ }}: {{ obj }}?</p>
<form class="form" method="post" action="">
  <button class="btn btn-danger btn-block" type="submit">
    Yes
  </button>
</form>
<form class="form" method="get" action="{{ obj.url_no_delete }}">
  <button class="btn btn-block btn-default" type="submit">
    No
  </button>
</form>
{% endblock %}
