{% extends "base.html" %}

{% block title %}{{ super() }} - {{ post.title }}{% endblock %}

{% block body %}
<div>
  {% for tag in post.tags %}
  <i><a class="tag" href="{{ tag.url_show }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}</i>
  {% endfor %}
</div>
{% if current_user.is_active() %}
<div>
  <a class="btn btn-primary" href="{{ post.url_edit }}">Edit</a>
  &nbsp;
  <a class="btn btn-primary" href="{{ post.url_tags }}">Tag</a>
  &nbsp;
  <a class="btn btn-danger" href="{{ url_for('blog.post_delete', post_id=post.id) }}">Delete</a>
</div>
{% endif %}
<h1>{{ post.title }}</h1>
<span class="date">{{ post.added }}</span>
<div class="post-content">{{ post.content|safe }}</div>
{% endblock %}
