{% extends "base.html" %}

{% block title %}{{ super() }} - Tags{% endblock %}

{% block body %}
{% if current_user.is_active() %}
<a class="btn btn-primary" href="{{ url_for('blog.tag_add') }}">Add New Tag</a>
{% endif %}
<h1>Tags</h1>
{% for tag, num_posts in tags %}
<div class="container yafblog-item">
  <div class="left">
    <a href="{{ tag.url_show }}">{{ tag.name }} ({{ num_posts }})</a>
  </div>
  {% if current_user.is_active() %}
  <div class="right">
    <a class="btn btn-primary" href="{{ tag.url_edit }}">Edit</a>
    <a class="btn btn-danger" href="{{ url_for('blog.tag_delete', tag_id=tag.id) }}">Delete</a>
  </div>
  {% endif %}
</div>
{% else %}
No Tags yet
{% endfor %}
{% endblock %}
