{% extends "base.html" %}

{% block title %}{{ super() }} - Tags{% endblock %}

{% block body %}
<a href="{{ url_for('blog.tag_add') }}">Add New Tag</a>
<div>
  <h1>Tags</h1>
  <ul>
    {% for tag in tags %}
    <li>
      <a href="{{ tag.url_show }}">{{ tag.name }}</a>
      {% if current_user.is_active() %}
      -
      <a href="{{ tag.url_edit }}">Edit</a>,
      <a href="{{ url_for('blog.tag_delete', tag_id=tag.id) }}">Delete</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
